<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" content="*/*">
        <title>Justificativa de Ponto</title>

        <!--<link rel="stylesheet" type="text/css" media="all" href="style.css"/>-->

        <style type="text/css">
            .bold {
                font-weight: bold;
            }

            .text-center {
                text-align: center;
            }

            .text-justify {
                text-align: justify;
                text-justify: inter-word;
            }
        </style>
    </head>

    <body>
        <h3 class="text-center">AUTORIZAÇÃO PARA INCLUSÃO/ ALTERAÇÃO REGISTRO DE PONTO</h3>

        <p class="text-justify">Eu [[${worker.name}]], portador do PIS nº [[${worker.socialSecurityId}]], registrado na empresa
            [[${employer.name}]], CNPJ [[${employer.socialSecurityId}]] sob regime CLT autorizo que seja feito na minha folha de ponto a(s) seguinte(s)
            correção(es):</p>

        <div th:each="day : ${days}">
            <p>Data: <label th:text="${day.dayMonthYear}"></label></p>
            <div>
                <label class="bold">( X ) ENTRADA</label> - Horário a registrar <label class="underline" th:text="${day.startHour}"></label>
                <label class="bold">( X ) SAÍDA ALMOÇO</label> – Horário a registrar <label class="underline" th:text="${day.startLunchHour}"></label>
                <br>
                <label class="bold">( X ) RETORNO ALMOÇO</label> - Horário a registrar <label class="underline" th:text="${day.endLunchHour}"></label>
                <label class="bold">( X ) SAÍDA</label> – Horário a registrar <label class="underline" th:text="${day.endHour}"></label>
                <div th:switch="${enableJustificationAllDays}">
                    <p th:case="true">Justificativa: <label>_____________________________________________________________________________________________________________________________________________________</label></p>
                </div>
            </div>
            <br>
        </div>

        <div th:switch="${enableJustificationAllDays}">
            <p th:case="false">Justificativa: <label class="underline">_____________________________________________________________________________________________________________________________________________________</label></p>
        </div>

        <br>
        <br>
        <br>

        <pre>_________________________                     _______________________
        Colaborador                                   Coordenador</pre>

        <br>
        <br>

        <div class="bold underline">* Não rasurar. Os campos não preenchidos devem ser inutilizados</div>
        <p>A ser preenchido pelo Departamento administrativo</p>
        <p>Recebido em: _____/_____/_____  Por: ____________________________</p>
        <p>Inserido no sistema em: _____/_____/_____ Por: _____________________</p>

    </body>
</html>